body {
    background-color: black;
}

.topic {
    border-radius: 6px;
}
.container {
    text-align: center;
    font-size: 20px;
}

.search-area {
    width: 80%;
    margin: 0 auto;
}


.header h3 {
    font-family: 'Concert One', cursive;
    font-size: 54px;
    color: white;
}